$peach:         #FFE5D4;
$lt-pink:       #EFC7C2;
$dk-purple:     #212025;
$lt-green:      #BFD3C1;
$med-green:     #68A691;
$dk-blue:       #192E47;
$red:           #FF4136;
$grey:          #707070;
$lt-grey:       #a7a6ab;
$light-black:   #202020;
$off-white:     #f9f9f9;
$offer-white:   #f5f5f5;
$dark-red:      #1E1D22;



